// Colors //

// Primary
$red: #F53838;
$grey: #4F5665;
$blue: #0B132A;
$green: #2FAB73;
$golden: #FEA250;
$white: #fff;
$white-bc:#f6f6f6;
$pink: #FFECEC;

// border
$border: #DDDDDD;
$border-color: #EEEFF2;

//shadow 
$btn-shadow: #f538383c 0px 20px 25px -5px, #f5383841 0px 10px 10px -5px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

// Socials colors
$facebook: #1877F2;
$instagram: #E4405F;
$twitter: #1DA1F2;